/* color  
#0D1B2E -- navy
#429890 -- forest green
#C3C9E9 -- purple
*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 40%;
  float: right;
  position: relative;
  right: 10%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  background:lightyellow;
}

/* tags */
#question {
  float: left;
  position: relative;
  left: 20%;
}
#content,
.q,
.a,
.r ,#count{
  margin: 0% 0% 0% 20%;
}
.q {
  background: lightblue;
  color: white;
  height: 20px;
  width: 300px;
}
.a {
  /*   background: lightgreen; */
  color: green;
}
.r {
  color: red;
}
#count{
  background:red;
  color: white;
}
/* animations when click q1 */
#showclick{
  position: relative;
  cursor: pointer;
  color: red;
}
